build
data
doc
tool
win32
UI
project/airconditioner2
project/alt_cpu_it9850
project/bootloader
project/codec
project/codec_ex
project/codec_ex_it9850
project/codec_it9850
project/doorbell_admin
project/doorbell_indoor2
project/doorbell_lobby
project/dynamic_ui
project/elevator2
project/hmi_ctrlboard
project/hmi_mcu
project/hmi_tool
project/refrigerator
project/risc1_code
project/sports_equipment
project/template
project/test_atcmd
project/test_capture
project/test_ftp_client
project/test_gpio
project/test_iic
project/test_input
project/test_itu
project/test_jpg
project/test_lcd
project/test_mac
project/test_nor
project/test_pattern_gen
project/test_peripheral
project/test_posixapi
project/test_pthread
project/test_qrdecode
project/test_qrencode
project/test_rs485
project/test_rsl_master
project/test_rsl_slave
project/test_send_email
project/test_sw_pwm
project/test_timer
project/test_touch
project/test_uart
project/test_ui
project/test_video
project/test_wiegand

wizard
*.exe

*.itu
*.bak
*.xls

*.mp3
*.mp4
*.jpg
*.mkv
*.avi
*.wav
# *.html
# *.js

*~
TAGS
*.udb